/* global */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Dongle&family=Kumbh+Sans:wght@700&family=Libre+Baskerville&family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Dongle&family=Kumbh+Sans:wght@700&family=Libre+Baskerville&family=Open+Sans:wght@400;700&display=swap');

:root {
  /* Primiary */
  --dark-blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --dark-blue-main-background: hsl(218, 28%, 13%);
  --dark-blue-footer-background: hsl(216, 53%, 9%);
  --dark-blue-testimonials-background: hsl(219, 30%, 18%);

  /* Accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  /* Neural */
  --white: hsl(0, 0%, 100%);
  --gray: rgba(255, 255, 255, 0.5);;
  /* font-style */
  /* headings, call-to-action, header Navigation */
  --raleway: 'Raleway', sans-serif;
  /* body */
  --open-sans: 'Open Sans', sans-serif;

}

body {
    background: var(--dark-blue-main-background);
    color: var(--gray);
    min-height: 100vh;
    text-align: center;
    font-size: 14px;
    font-family: var(--open-sans);
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3.5rem;
    font-family: var(--raleway);
}

.links-section {
    /* float: right; */
    display: flex;
    list-style-type: none;
}
/* container */
.section-1 {
    width: 40%;
    margin: 0 auto;
}
.section-1 img{
    margin-top: 3rem;
    width: 100%;
}

.section-2{
    width: 85%;
    margin: 4rem auto;
}
.grid-items {
    width: 30%;
    display: inline-block;
    padding: 0 100px;
}
/* button */
.cyn-btn {
    margin-top: 1rem;
    padding: 12px 66px;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--cyan);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
/* Typography */
a, .gray-p{
    color: var(--gray);
}
li{
    padding-left: 5rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

/* images */
